.navigationWrapper {
  display: flex;
  bottom: var(--space-m);
  justify-content: space-between;
  margin-block-start: var(--space-3xl);
}

.navigationWrapper button:last-of-type {
  margin-inline-start: auto;
}
