.radioWrapper {
  display: grid;
  place-items: center;
  padding: var(--space-s);
  border: 1px solid var(--clr-neutral-500);
  border-radius: 1rem;
  cursor: pointer;
}

.radioWrapper:has(button:focus-visible) {
  opacity: 1;
  outline: 2px dashed var(--clr-primary-300);
  outline-offset: 4px;
}

.radioWrapper button:focus {
  outline: 0 !important;
}

.radioWrapper:has(button[aria-checked="true"]) {
  border: 1px solid var(--clr-primary-300);
  background-color: var(--clr-neutral-300);
}

.RadioGroupItem {
  opacity: 0;
}

.RadioGroupIndicator {
  opacity: 0;
}

.label {
  cursor: pointer;
}

.label > *:empty {
  display: none;
}

.label > svg {
  max-width: fit-content;
}
